{% extends 'base.html.twig' %}

{% block title %}Nouvelle publications{% endblock %}
{% block page %}
    <div class="section-header-back">
        <a href="{{ path('post_index') }}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
    </div>
    <h1>Ajout d'une publication</h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mx-auto">Formulaire d'ajout</h4>
                </div>
                <div class="card-body">
                    {{ include('post/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
